:root {
  --contrast-primary: #1d2026;
  --background-grey: #f5f7fa;
  --opacity-0: #fff0;
  --white: #fff;
  --primary-dark: #0d3a57;
  --primary-main: #36a3d9;
  --primary-outline: #0d3a573d;
  --mono-dark: #1d2026;
  --dark-hover: #4b5568;
  --secondary-main: #21a664;
  --secondary-dark: #144133;
  --secondary-light: #daf5f1;
  --primary-light: #f2f6fa;
  --additional-divider: #1d20261f;
  --secondary-faded: #daf5f180;
  --tertiary-light: #ffefd9;
  --tertiary-dark: #57450d;
  --4th-light: #f3d8dd;
  --4th: #570d1a;
  --primary-light-2: #d9effe;
  --secondary-outline: #1441333d;
  --tertiary-outline: #57450d3d;
  --mono-outline: #1d20263d;
  --contrast-secondary: #1d202680;
  --background-pastel: #ebebe1;
  --tertiary-main: #d9a336;
  --black: black;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-embed-youtubevideo {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--contrast-primary);
  font-family: DM Sans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 400;
  line-height: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}

h3 {
  color: var(--contrast-primary);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.5rem;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.125rem;
}

p {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
}

a {
  color: var(--contrast-primary);
  text-decoration: underline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
}

strong {
  font-weight: 600;
}

blockquote {
  background-color: var(--background-grey);
  border-left: 1px #000;
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  line-height: 2rem;
}

.navbar {
  z-index: 100;
  background-color: var(--opacity-0);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  display: block;
}

.container.align-center {
  max-width: 96rem;
}

.navbar-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  place-items: center stretch;
}

.layout-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.layout-right.gap-1-5 {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  display: flex;
}

.brand {
  padding-left: 0;
}

.nav-menu {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-item {
  color: var(--primary-dark);
  padding: .75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  transition: color .5s;
}

.menu-item:hover {
  color: var(--primary-main);
}

.menu-item.w--current {
  color: var(--primary-dark);
}

.menu-item.color-text-mono-dark {
  color: var(--mono-dark);
}

.menu-item.color-text-mono-dark:hover {
  color: var(--dark-hover);
}

.menu-item.color-text-secondary-dark:hover {
  color: var(--secondary-main);
}

.navbar-button {
  background-color: var(--primary-dark);
  color: var(--white);
  border-radius: 1.5rem;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color .5s;
}

.navbar-button:hover {
  background-color: var(--primary-main);
}

.navbar-button.color-mono-dark {
  background-color: var(--mono-dark);
}

.navbar-button.color-mono-dark:hover {
  background-color: var(--dark-hover);
}

.navbar-button.color-secondary-dark {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}

.navbar-button.color-secondary-dark:hover {
  background-color: var(--secondary-main);
}

.phone-button {
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-decoration: none;
}

.phone-button.tablet-none {
  display: none;
}

.button-small-text {
  color: var(--primary-dark);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  display: inline;
}

.button-small-text.color-text-mono-dark {
  color: var(--mono-dark);
}

.phone-icon {
  width: 1rem;
  height: 1rem;
}

.phone-icon.margin-right-0-5 {
  margin-right: .5rem;
}

.background-primary-light {
  background-color: var(--primary-light);
}

.section.padding-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section.padding-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section.padding-5.color-background-grey {
  background-color: var(--background-grey);
}

.section.padding-5.color-background-grey.hidden {
  overflow: hidden;
}

.section.padding-5.color-secondary-light {
  background-color: var(--secondary-light);
}

.section.padding-5.color-secondary-light.hidden {
  overflow: hidden;
}

.section.padding-5.divaider-bottom {
  border-bottom: 1px solid var(--additional-divider);
}

.section.padding-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.section.padding-6.color-secondary-light {
  background-color: var(--secondary-light);
}

.section.color-secondary-dark {
  background-color: var(--secondary-dark);
}

.section.background-primary-dark {
  background-color: var(--primary-dark);
}

.section.padding-3.background-primary-light {
  background-color: var(--primary-light);
}

.two-columns {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
}

.description-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.description-wrapper.padding-right-3 {
  padding-right: 3rem;
}

.description-wrapper.padding-left-3 {
  padding-left: 3rem;
}

.text-span {
  font-family: DM Serif Display, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.margin-top-1-5 {
  margin-top: 1.5rem;
}

.margin-top-1-5.desktop-none {
  display: none;
}

.subhead-secondary {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-top-2.horizontal-1rem {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.gap-1-5 {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.gap-1-5.align-left {
  text-align: left;
  justify-content: center;
  align-items: flex-start;
}

.button {
  background-color: var(--primary-dark);
  color: var(--white);
  border-radius: 1.5rem;
  padding: .75rem 2rem;
  font-size: 1.25rem;
  line-height: 2rem;
  transition: background-color .5s;
}

.button:hover {
  background-color: var(--primary-main);
}

.button.footer:hover {
  background-color: var(--secondary-main);
}

.button.color-mono-dark {
  background-color: var(--mono-dark);
}

.button.color-mono-dark:hover {
  background-color: var(--dark-hover);
}

.button.color-secondary-dark {
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}

.button.color-secondary-dark:hover {
  background-color: var(--secondary-main);
}

.button.color-white {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.button.border {
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  background-color: #0d3a5700;
}

.color-text-primary-dark {
  color: var(--primary-dark);
}

.three-columns {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.padding-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-3.borders-secondary-faded {
  border-bottom: 1px solid var(--secondary-faded);
}

.padding-3.borders-primary-outline {
  border-top: 1px solid var(--primary-outline);
}

.padding-3.borders-additional-divider-top {
  border-top: 1px solid var(--additional-divider);
}

.number-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.numbers {
  font-size: 4.5rem;
  line-height: 105%;
}

.layout-center-block {
  text-align: center;
  flex-flow: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.layout-center-block._404 {
  max-width: 40rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-4.flex-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  display: flex;
}

.margin-top-4.desktop-none {
  display: none;
}

.card-wrapper {
  border-radius: 3rem;
  padding: 2rem;
  text-decoration: none;
}

.card-wrapper.gap-1-5 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-wrapper.gap-1-5.color-secondary-light {
  border: 1px solid var(--secondary-light);
  background-color: var(--secondary-light);
  transition: border-color .555s;
}

.card-wrapper.gap-1-5.color-secondary-light:hover {
  border: 2px solid var(--secondary-dark);
}

.card-wrapper.gap-1-5.color-primary-light {
  border: 1px solid var(--primary-light);
  background-color: var(--primary-light);
  transition: border-color .555s;
}

.card-wrapper.gap-1-5.color-primary-light:hover {
  border: 2px solid var(--primary-dark);
}

.card-wrapper.gap-1-5.color-tertiary-light {
  border: 1px solid var(--tertiary-light);
  background-color: var(--tertiary-light);
  transition: border-color .555s;
}

.card-wrapper.gap-1-5.color-tertiary-light:hover {
  border: 2px solid var(--tertiary-dark);
}

.card-wrapper.gap-1-5.color-grey {
  background-color: var(--background-grey);
}

.card-wrapper.gap-1-5.color-4th-light {
  background-color: var(--4th-light);
}

.card-wrapper.gap-1-5.color-4th-light:hover {
  border: 2px solid var(--4th);
}

.card-wrapper.gap-1-5.color-primary-light-2 {
  background-color: var(--primary-light-2);
}

.card-wrapper.gap-1-5.color-primary-light-2:hover {
  border: 2px solid var(--primary-dark);
}

.color-text-secondary-dark {
  color: var(--secondary-dark);
}

.color-text-secondary-dark.align-center {
  text-align: center;
}

.transparent-button {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 1px solid var(--contrast-primary);
  border-radius: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 1.5rem;
  text-decoration: none;
  transition: border-color .5s;
  display: flex;
}

.transparent-button.borders-secondary-outline {
  border-color: var(--secondary-outline);
}

.transparent-button.borders-secondary-outline:hover {
  border-color: var(--secondary-dark);
}

.transparent-button.borders-primary-outline {
  border-color: var(--primary-outline);
}

.transparent-button.borders-primary-outline:hover {
  border-color: var(--primary-dark);
}

.transparent-button.borders-tertiary-outline {
  border-color: var(--tertiary-outline);
}

.transparent-button.borders-tertiary-outline:hover {
  border-color: var(--tertiary-dark);
}

.transparent-button.borders-mono-outline {
  border-color: var(--mono-outline);
}

.transparent-button.borders-mono-outline:hover {
  border-color: var(--mono-dark);
}

.arrow-icon-card {
  flex: none;
}

.inline-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: inline-block;
}

.layout-left-block {
  text-align: left;
  max-width: 55.5rem;
  margin-right: auto;
}

.slide-nav {
  display: none;
}

.slider-card-wrapper {
  background-color: var(--opacity-0);
  height: auto;
}

.mask {
  width: 32%;
  height: auto;
  overflow: visible;
}

.slider-card {
  background-color: var(--white);
  border-radius: 2rem;
  height: 100%;
  margin-right: 1.5rem;
  transition: box-shadow .555s;
}

.slider-card:hover {
  transform: none;
  box-shadow: 0 16px 16px #0d3a5733;
}

.card-image {
  border-radius: 1rem;
  width: 100%;
}

.gap-1 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  display: flex;
}

.subhead-tertiary {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.subhead-tertiary.opacity-50 {
  color: var(--contrast-secondary);
}

.full-width {
  width: 100%;
}

.full-width.align-right {
  text-align: right;
}

.slider-arrow {
  border: 1px solid var(--secondary-outline);
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  inset: -25% 4rem auto auto;
}

.slider-arrow:hover {
  border-color: var(--secondary-dark);
}

.slider-arrow.right-button {
  right: 0;
}

.testimonial-list-wrapper {
  width: 33.33%;
}

.testimonial-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  place-items: stretch stretch;
  display: grid;
}

.testimonial-card {
  background-color: var(--background-grey);
  border-radius: 2rem;
  height: 100%;
  padding: 2rem 1.5rem;
}

.subhead-1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.subhead-1.opacity-50 {
  color: var(--contrast-secondary);
}

.subhead-1.italic {
  font-style: italic;
}

.subhead-1.bootom-4 {
  margin-bottom: 4rem;
}

.author-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

.author-image {
  border-radius: 4rem;
  width: 4rem;
  height: 4rem;
}

.paragraph {
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.paragraph.medium {
  font-weight: 500;
}

.paragraph.opacity-50 {
  color: var(--contrast-secondary);
}

.dropdown-wrapper {
  border-top: 1px solid var(--additional-divider);
  width: 100%;
  position: relative;
}

.dropdown-triger {
  cursor: pointer;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.dropdowm-arrow {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown-content {
  width: 100%;
  position: static;
  overflow: hidden;
}

.dropdown-answer {
  margin-left: auto;
  margin-right: auto;
}

.faq-grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.blog-post-header-grid {
  grid-template-rows: auto;
}

.blog-post-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-post-wrapper {
  color: var(--contrast-primary);
  text-decoration: none;
}

.main-image {
  border-radius: 3rem;
  width: 100%;
}

.main-image.botders-radius-top {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.main-image.position-top-16 {
  position: sticky;
  top: 16px;
}

.main-image.stiky {
  position: sticky;
  top: 0;
}

.tag-wrapper {
  border: 1px solid var(--primary-outline);
  border-radius: .5rem;
  padding: .25rem .5rem;
  text-decoration: none;
  display: inline-block;
}

.tag-wrapper:hover {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.paragraph-tertiary {
  font-size: .875rem;
  line-height: 1.25rem;
}

.paragraph-tertiary.opacity-50 {
  color: var(--contrast-secondary);
}

.color-text-tertiary-dark {
  color: var(--tertiary-dark);
}

.padding-0-5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.cta-grid {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.cta-left-column {
  min-width: 20rem;
  height: 30rem;
  position: relative;
}

.heading-1 {
  font-size: 5rem;
  line-height: 100%;
}

.cta-image {
  border-radius: 1.5rem;
}

.cta-image._1 {
  width: 6.25rem;
  position: absolute;
  inset: 0% 3rem auto auto;
}

.cta-image._2 {
  width: 6.25rem;
  position: absolute;
  inset: auto 3rem 0% auto;
}

.cta-image._3 {
  width: 7.5rem;
  position: absolute;
  inset: 11.25rem 3rem 0% auto;
}

.cta-image._4 {
  width: 5rem;
  position: absolute;
  inset: 7rem auto auto .8rem;
}

.cta-image._5 {
  width: 5rem;
  position: absolute;
  inset: auto auto 7rem .85rem;
}

.cta-image._6 {
  width: 7.5rem;
  position: absolute;
  inset: 11.25rem auto 0% 3rem;
}

.cta-image._7 {
  width: 5rem;
  position: absolute;
  inset: 7rem .85rem auto auto;
}

.cta-image._8 {
  width: 5rem;
  position: absolute;
  inset: auto .85rem 7rem auto;
}

.cta-image._9 {
  width: 6.25rem;
  position: absolute;
  inset: 0% auto auto 3rem;
}

.cta-image._10 {
  width: 6.25rem;
  position: absolute;
  inset: auto auto 0% 3rem;
}

.cta-center-column {
  text-align: center;
}

.cta-right-column {
  min-width: 20rem;
  height: 30rem;
  position: relative;
}

.footer-grid {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  place-items: center stretch;
}

.footer-item-wrapper {
  flex-flow: column;
  align-items: flex-start;
  display: flex;
}

.footer-item-wrapper.paddin-right-4 {
  padding-right: 4rem;
}

.color-text-secondary-light {
  color: var(--secondary-light);
}

.margin-top-0-5 {
  margin-top: .5rem;
}

.paragraph-secondary {
  font-size: 1rem;
  line-height: 1.5rem;
}

.paragraph-secondary.color-text-secondary-light {
  font-weight: 400;
}

.paragraph-secondary.opacity-50 {
  color: var(--secondary-faded);
}

.form {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.form-block {
  margin-bottom: 0;
}

.submit-button {
  border: 1px solid var(--secondary-main);
  background-color: var(--secondary-main);
  border-radius: 1.5rem;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.submit-button:hover {
  border: 1px solid var(--white);
  background-color: var(--secondary-dark);
}

.text-field {
  border: 1px solid var(--white);
  color: var(--contrast-primary);
  border-radius: 1.5rem;
  height: 3rem;
  margin-bottom: 0;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-field:focus {
  border-color: var(--secondary-main);
}

.success-message, .error-message {
  background-color: var(--opacity-0);
}

.social-icon-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.social-link {
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
}

.social-icon {
  flex: none;
}

.footer-inner-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

.footer-item {
  color: var(--secondary-light);
  text-decoration: none;
  display: block;
}

.footer-item:hover, .footer-item.margin-top-0-5:hover {
  color: var(--secondary-main);
}

.footer-item.margin-top-0-5.flex-0-5 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.footer-item.margin-top-0-5.flex-0-5.phone {
  background-image: url('../images/phone-solid.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 1.5rem;
}

.footer-item.margin-top-0-5.flex-0-5.phone:hover {
  background-image: url('../images/phone-Green.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
}

.footer-item.margin-top-0-5.flex-0-5.envelope {
  background-image: url('../images/envelope-footer.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 1.5rem;
}

.footer-item.margin-top-0-5.flex-0-5.envelope:hover {
  background-image: url('../images/envelope-Green.svg');
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: auto;
}

.contact-icon {
  height: 16px;
}

.padding-1-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.padding-1-5.flex-footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flex-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.internal-link {
  color: var(--secondary-light);
  text-decoration: none;
}

.internal-link:hover {
  color: var(--secondary-main);
}

.background-pastel {
  background-color: var(--background-pastel);
}

.grid-columns {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-top: 1px solid var(--additional-divider);
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

.grid-columns.padding-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.team-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.team-card-wrapper {
  cursor: pointer;
}

.team-card-content {
  background-color: var(--white);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem 1.5rem;
}

.modal-wrapper {
  z-index: 150;
  -webkit-backdrop-filter: saturate(0%) blur(.2rem);
  backdrop-filter: saturate(0%) blur(.2rem);
  justify-content: flex-end;
  display: none;
  position: fixed;
  inset: 0%;
}

.modal-contant {
  z-index: 500;
  background-color: var(--white);
  width: 70%;
  padding: 5rem 3rem;
  position: relative;
  overflow: auto;
}

.modal-grid {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
}

.modal-team-content {
  overflow: auto;
}

.bio-rich-text p {
  margin-bottom: 2rem;
}

.main-image-wrapper {
  border-radius: 2rem;
  overflow: hidden;
}

.close-modal-image {
  z-index: 9999;
  cursor: pointer;
  display: inline;
  position: absolute;
  inset: 1.5rem 3rem auto auto;
}

.close-icon {
  z-index: 9999;
  width: 1.25rem;
  height: 1.5rem;
}

.search-modal-screen {
  z-index: 151;
  background-color: #1d202633;
  position: fixed;
  inset: 0%;
}

.background-grey {
  background-color: var(--background-grey);
}

.margin-bottom-3 {
  margin-bottom: 3rem;
  position: relative;
}

.logo-item-wrapper {
  border-right: 1px solid var(--additional-divider);
  text-align: center;
  width: 16rem;
}

.logo-item {
  max-height: 7.5rem;
}

.overflow-hidden {
  border-radius: 3rem;
  overflow: hidden;
}

.overflow-hidden.borders-radius-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.marquee-wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee-train {
  flex-flow: row;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.label-large {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.check-mark-grid {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
}

.background-secondary-light {
  background-color: var(--secondary-light);
}

.body-grid {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
}

.rich-text-bodi {
  text-align: left;
}

.rich-text-bodi h2 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.rich-text-bodi h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rich-text-bodi p {
  margin-bottom: 2rem;
}

.rich-text-bodi h5, .rich-text-bodi h6, .rich-text-bodi li, .rich-text-bodi h4 {
  margin-bottom: 1rem;
}

.quote-wrapper {
  background-color: var(--background-grey);
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.bulleted-list {
  margin-bottom: 0;
  padding-left: 32px;
  list-style-type: disc;
}

.bulleted-list-item {
  margin-bottom: 16px;
}

.toc-wrapper {
  border-radius: 4rem;
}

.table-of-contents {
  background-color: var(--background-grey);
  border-radius: 1rem;
  padding: 2rem;
  position: sticky;
  top: 5rem;
}

.vector {
  background-color: var(--secondary-main);
  border-radius: 2px;
  width: 3rem;
  height: 4px;
}

.toc-item-link {
  margin-bottom: 1rem;
  text-decoration: none;
  display: block;
}

.toc-item-link:hover, .toc-item-link.w--current {
  color: var(--secondary-main);
}

.caption {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.caption.opacity-50 {
  color: var(--contrast-secondary);
}

.tag-flex-block {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
}

.author-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.author-image-blog {
  border-radius: 4rem;
  width: 2.5rem;
  height: 2.5rem;
}

.padding-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.marginbottom-5 {
  margin-bottom: 5rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.contact-item {
  text-decoration: none;
  display: block;
}

.contact-item.margin-top-0-25 {
  margin-top: .25rem;
}

.contact-item.margin-top-0-25.flex-0-5 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contact-form {
  background-color: var(--white);
  border-radius: 3rem;
  margin-bottom: 0;
  padding: 3rem;
}

.input-field {
  border-style: solid;
  border-width: 1px;
  border-color: var(--white) var(--white) var(--additional-divider);
  color: var(--contrast-primary);
  border-radius: 0;
  min-height: 3.5rem;
  margin-bottom: 0;
  padding: 1rem 0;
  font-size: 1rem;
  line-height: 1.5rem;
}

.input-field:focus {
  border-style: solid;
  border-color: var(--white) var(--white) var(--contrast-primary);
}

.input-field::placeholder {
  color: var(--contrast-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
}

.input-field.message {
  min-height: 9.5rem;
}

.align-left {
  text-align: left;
}

.faq-rich-text p {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.625rem;
}

.faq-rich-text li {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.gradient-left {
  background-image: linear-gradient(95deg, var(--primary-light), #f5f7fa00);
  width: 200px;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

.gradient-right {
  background-image: linear-gradient(95deg, #f5f7fa00, var(--primary-light));
  width: 200px;
  height: 100%;
  position: absolute;
  inset: 0% 0% 0% auto;
}

.numbers-list {
  margin-bottom: 0;
  padding-left: 32px;
  list-style-type: decimal;
}

.align-center {
  text-align: center;
  max-width: 840px;
}

.align-center.color-text-4th {
  color: var(--4th);
}

.faq-grid-wraqpper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
}

.color-text-white {
  color: var(--white);
}

.icon-wrapper {
  background-color: var(--primary-dark);
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}

.max-w-52 {
  max-width: 52rem;
}

.faq-grid-answer {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.main-logo-image {
  max-height: 48px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content.form-protected-page {
  background-color: var(--white);
  border-radius: 2rem;
  justify-content: center;
  align-items: flex-start;
  width: 41.25rem;
  margin-bottom: 0;
  padding: 3rem;
}

._404-absolute {
  position: absolute;
  inset: 0% 0% auto;
}

._404-absolute.bottom {
  inset: auto 0% 0%;
}

.utility-page-form {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  text-align: left;
  flex-flow: column;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.field-label {
  text-align: left;
  font-weight: 400;
}

.four-columns {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
}

.relative-wrapper {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 30rem;
  display: flex;
  position: relative;
}

.home-image {
  border-radius: 3rem;
  width: 20rem;
  position: absolute;
  inset: 1.5rem auto auto 1.5rem;
}

.home-image._2 {
  z-index: 5;
  width: 55%;
  inset: auto 0% 0% auto;
}

.home-image._3 {
  z-index: 3;
  width: 40%;
  top: 0;
  left: 0;
}

.home-image._4 {
  z-index: 5;
  width: 40%;
  top: auto;
  left: auto;
  right: auto;
}

.home-image._5 {
  z-index: 7;
  width: 40%;
  inset: auto 0% 0 auto;
}

.home-image._6 {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
  position: static;
  inset: 0%;
}

.home-image._7 {
  width: 50%;
  top: 5%;
  left: 0%;
}

.home-image._8 {
  width: 60%;
  inset: auto 0% auto auto;
}

.home-image._9 {
  z-index: 10;
  width: 35%;
  inset: auto auto 0% 15%;
}

.home-image._1 {
  width: 55%;
  inset: 0% auto auto 0%;
}

.vector-circle-green {
  z-index: 2;
  position: absolute;
  inset: auto;
  transform: rotate(-45deg);
}

.vector-circle-light-green {
  z-index: 1;
  position: absolute;
  inset: auto;
  transform: rotate(-30deg);
}

.vector-circle-dark-green {
  z-index: 3;
  position: absolute;
  inset: auto;
  transform: rotate(-60deg);
}

.vector-circle-dark-blue {
  z-index: 6;
  position: absolute;
  inset: auto;
  transform: rotate(60deg);
}

.vector-circle-blue {
  z-index: 6;
  position: absolute;
  inset: auto;
  transform: rotate(45deg);
}

.vector-circle-tertiary-main {
  position: absolute;
  inset: auto;
  transform: rotate(-45deg);
}

.vector-circle-white {
  position: absolute;
  transform: rotate(-30deg);
}

.vector-circle-tertiary-dark {
  position: absolute;
  inset: auto;
  transform: rotate(-60deg);
}

.relative-wrapper-cta {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 41.25rem;
  display: flex;
  position: relative;
}

.color-background-grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.background-white {
  border: 1px solid var(--primary-dark);
}

.contrast-primary {
  background-color: var(--contrast-primary);
}

.contrast-secondary {
  background-color: var(--contrast-secondary);
}

.additional-divider {
  background-color: var(--additional-divider);
}

.primary-main {
  background-color: var(--primary-main);
}

.primary-dark {
  background-color: var(--primary-dark);
}

.primary-light {
  background-color: var(--primary-light);
}

.primary-outline {
  background-color: var(--primary-outline);
}

.secondary-main {
  background-color: var(--secondary-main);
}

.secondary-dark {
  background-color: var(--secondary-dark);
}

.secondary-light {
  background-color: var(--secondary-light);
}

.secondary-faded {
  background-color: var(--secondary-faded);
}

.tertiary-main {
  background-color: var(--tertiary-main);
}

.tertiary-dark {
  background-color: var(--tertiary-dark);
}

.tertiary-light {
  background-color: var(--tertiary-light);
}

.tertiary-outline {
  background-color: var(--tertiary-outline);
}

.mono-dark {
  background-color: var(--mono-dark);
}

.mono-outline {
  background-color: var(--mono-outline);
}

.mono-hover {
  background-color: var(--dark-hover);
}

.background-secondary-dark {
  background-color: var(--secondary-dark);
}

.opacity-0-text {
  color: var(--opacity-0);
}

.slider-link {
  padding: 2rem;
  text-decoration: none;
}

.vector-circle-light-blue {
  z-index: 6;
  position: absolute;
  inset: auto;
  transform: rotate(30deg);
}

.image-modal-wrapper {
  border-radius: 2rem;
  position: relative;
}

.service-wrapper {
  text-decoration: none;
}

.footer-item-block {
  color: var(--secondary-light);
  text-decoration: none;
  display: block;
}

.footer-item-block:hover {
  color: var(--secondary-main);
}

.author-flex-block {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  display: flex;
}

.bold-text {
  font-family: DM Serif Display, sans-serif;
  font-style: italic;
  font-weight: 400;
}

.info-page-heading {
  font-size: 3rem;
  font-weight: 500;
}

.benefit-bullet {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  display: flex;
}

.div-block {
  background-color: var(--contrast-primary);
  width: 16px;
  height: 16px;
}

.bullet-point {
  width: 10px;
}

.teams-characters {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-page-heading {
  font-size: 3rem;
  font-weight: 500;
}

.info-page-subheading {
  font-size: 1.5rem;
  line-height: 2rem;
}

.job-sub-heading {
  text-align: left;
}

@media screen and (min-width: 1440px) {
  .phone-button.tablet-none:hover {
    color: var(--secondary-main);
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
    line-height: 3.2rem;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  ul, ol {
    padding-left: 1.5rem;
  }

  .navbar {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container.padding-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-grid {
    grid-template-columns: auto 1fr;
  }

  .nav-menu {
    background-color: var(--white);
    border-radius: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0 2px 16px #00000014;
  }

  .menu-item {
    border-bottom: 1px solid var(--primary-outline);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .navbar-button, .phone-button.tablet-none {
    display: none;
  }

  .section.padding-4 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .section.padding-5, .section.padding-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .section.padding-3.background-primary-light.no-margin-top {
    padding-top: 0;
  }

  .two-columns {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .description-wrapper.padding-right-3 {
    text-align: center;
    padding-right: 0;
  }

  .description-wrapper.padding-right-3.mobail-layout-left {
    text-align: center;
  }

  .description-wrapper.padding-right-3.align-left {
    text-align: left;
  }

  .description-wrapper.padding-left-3 {
    text-align: center;
    padding-left: 0;
  }

  .description-wrapper.padding-left-3.align-left {
    text-align: left;
  }

  .margin-top-1-5.desktop-none {
    margin-top: 2rem;
    display: block;
  }

  .subhead-secondary {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .subhead-secondary.bullted-points {
    text-align: left;
  }

  .gap-1-5 {
    text-align: center;
  }

  .three-columns {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .padding-3.borders-primary-outline {
    border-top-style: none;
    padding-top: 0;
  }

  .number-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    border: 1px solid var(--primary-outline);
    border-radius: 1.5rem;
    padding: 1.5rem;
  }

  .numbers {
    font-size: 3.5rem;
    line-height: 114%;
  }

  .margin-top-4 {
    margin-top: 3rem;
  }

  .margin-top-4.flex-wrapper {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: column;
  }

  .card-wrapper {
    border-radius: 2rem;
  }

  .card-wrapper.gap-1-5.color-secondary-light, .card-wrapper.gap-1-5.color-primary-light {
    padding: 1.5rem 1rem;
  }

  .card-wrapper.gap-1-5.color-tertiary-light {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding: 1.5rem 1rem;
  }

  .mask {
    width: 45%;
  }

  .slider-card {
    margin-right: 1rem;
  }

  .slider-arrow {
    display: none;
    top: -20%;
  }

  .testimonial-list-wrapper {
    width: auto;
  }

  .testimonial-list {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
  }

  .testimonial-card {
    border-radius: 1.5rem;
    padding: 1.5rem 1rem;
  }

  .subhead-1 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .author-image {
    width: 3.5rem;
    height: 3.5rem;
  }

  .paragraph {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .dropdown-triger {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .faq-grid {
    grid-template-columns: auto auto;
  }

  .main-image {
    border-radius: 2rem;
  }

  .main-image.position-top-16 {
    top: 16px;
  }

  .cta-grid {
    grid-template-columns: auto;
  }

  .cta-left-column {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: auto;
    height: 14rem;
    display: none;
  }

  .heading-1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .cta-image._1 {
    width: 8rem;
    height: 8rem;
    inset: auto auto 0% 0%;
  }

  .cta-image._2 {
    width: 8rem;
    height: 8rem;
    inset: auto 0% 0% auto;
  }

  .cta-image._3 {
    width: 10rem;
    inset: auto auto 0%;
  }

  .cta-image._4 {
    width: 6rem;
    height: 6rem;
    inset: 0% auto auto 8rem;
  }

  .cta-image._5 {
    width: 6rem;
    height: 6rem;
    inset: 0% 0% auto auto;
  }

  .cta-image._6 {
    width: 10rem;
    inset: 0% auto auto;
  }

  .cta-image._7 {
    width: 6rem;
    inset: auto 12rem 0 auto;
  }

  .cta-image._8 {
    width: 6rem;
    inset: auto auto 0 12rem;
  }

  .cta-image._9 {
    width: 8rem;
    inset: 0% auto auto 4rem;
  }

  .cta-image._10 {
    width: 8rem;
    inset: 0% 4rem auto auto;
  }

  .cta-center-column {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .cta-right-column {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: auto;
    height: 16rem;
    display: flex;
  }

  .footer-grid {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 2fr;
  }

  .footer-item-wrapper.paddin-right-4 {
    padding-right: 0;
  }

  .social-icon-wrapper.layout-center {
    justify-content: center;
    align-items: center;
  }

  .social-link {
    border-radius: 1.5rem;
    width: 3rem;
    height: 3rem;
  }

  .social-link.background-primary-dark {
    background-color: var(--primary-dark);
  }

  .social-link.background-mono-dark {
    background-color: var(--mono-dark);
  }

  .social-link.background-secondary-dark {
    background-color: var(--secondary-dark);
  }

  .social-icon {
    width: 24px;
  }

  .footer-inner-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }

  .padding-1-5.flex-footer {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .flex-block {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
  }

  .grid-columns.padding-4 {
    grid-template-columns: 2fr;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .team-list {
    grid-template-columns: 1fr 1fr;
  }

  .team-card-content {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding: 1.5rem 1rem;
  }

  .modal-contant {
    width: auto;
    padding: 4rem 1rem;
    overflow: auto;
  }

  .modal-grid {
    grid-template-columns: 1fr;
  }

  .main-image-wrapper {
    border-radius: 1.5rem;
  }

  .close-modal-image {
    right: 1rem;
  }

  .overflow-hidden {
    border-radius: 2rem;
  }

  .body-grid {
    grid-template-columns: 2fr;
  }

  .quote-wrapper {
    border-radius: 1.5rem;
    padding: 1.5rem;
  }

  .margin-top-5 {
    margin-top: 4rem;
  }

  .bulleted-list {
    padding-left: 1.5rem;
  }

  .table-of-contents {
    padding: 1.5rem;
  }

  .margin-bottom-2 {
    margin-bottom: 1.5rem;
  }

  .contact-form {
    border-radius: 2rem;
    padding: 1.5rem;
  }

  .faq-rich-text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .faq-rich-text li {
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .gradient-left, .gradient-right {
    display: none;
  }

  .faq-grid-wraqpper {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: #fff0;
  }

  .menu-icon {
    width: 1rem;
    height: 1rem;
  }

  .faq-grid-answer {
    grid-template-columns: auto 1fr;
  }

  .menu-button-grid {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    place-items: center;
  }

  .menu-button-text {
    color: var(--primary-dark);
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .menu-button-text.color-text-mono-dark {
    color: var(--mono-dark);
  }

  .menu-button-text.color-text-secondary-dark {
    color: var(--secondary-dark);
  }

  .menu-button-grid-none {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    place-items: center;
    display: none;
  }

  .margin-top-3-mobail {
    margin-top: 3rem;
  }

  .utility-page-wrap {
    width: 100%;
    height: auto;
    padding: 4rem 1rem;
  }

  .utility-page-wrap.background-grey.protected-page {
    height: 100vh;
  }

  ._404-absolute {
    position: static;
  }

  .four-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .relative-wrapper {
    min-height: 35rem;
  }

  .home-image {
    border-radius: 1.5rem;
    width: 25rem;
  }

  .color-background-grid {
    grid-template-columns: 1fr 1fr;
  }

  .opacity-0-text {
    line-height: 4rem;
  }

  .slider-link {
    padding: 1rem;
  }

  .image-modal-wrapper {
    border-radius: 1.5rem;
  }

  .teams-characters {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .two-columns {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .margin-top-1-5 {
    margin-top: 1rem;
  }

  .three-columns {
    grid-template-columns: 1fr;
  }

  .number-wrapper {
    text-align: center;
  }

  .mask {
    width: 90%;
  }

  .slider-card {
    margin-right: 1rem;
  }

  .slider-arrow, .dropdowm-arrow.empty {
    display: none;
  }

  .faq-grid {
    grid-template-columns: 1fr auto;
  }

  .blog-post-header-grid {
    grid-template-columns: 1fr;
  }

  .blog-post-list {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .cta-image._1, .cta-image._2 {
    width: 6rem;
    height: 6rem;
  }

  .cta-image._7 {
    right: 8rem;
  }

  .cta-image._8 {
    left: 8rem;
  }

  .cta-image._9 {
    left: 2rem;
  }

  .cta-image._10 {
    right: 2rem;
  }

  .footer-inner-grid {
    grid-template-columns: 1fr;
  }

  .flex-block {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .team-list, .modal-grid {
    grid-template-columns: 1fr;
  }

  .logo-item-wrapper {
    width: 12rem;
  }

  .logo-item {
    max-height: 6rem;
  }

  .gradient-left, .gradient-right {
    width: 100px;
  }

  .icon-wrapper {
    width: 3rem;
    height: 3rem;
  }

  .faq-grid-answer {
    grid-template-columns: 1fr;
  }

  .utility-page-content.form-protected-page {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .four-columns {
    grid-template-columns: 1fr;
  }

  .home-image {
    width: 19rem;
  }

  .relative-wrapper-cta {
    min-height: 30rem;
  }

  .teams-characters {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .layout-right.mobail-none {
    display: none;
  }

  .section.padding-5.color-secondary-light.hidden, .section.padding-6.color-secondary-light.hidden {
    overflow: hidden;
  }

  .description-wrapper.padding-right-3 {
    text-align: center;
  }

  .description-wrapper.padding-right-3.mobail-layout-left {
    text-align: left;
  }

  .description-wrapper.padding-left-3 {
    text-align: center;
  }

  .description-wrapper.padding-left-3.mobail-layout-left {
    text-align: left;
  }

  .button {
    text-align: center;
    width: 100%;
  }

  .margin-top-4.desktop-none {
    display: block;
  }

  .transparent-button {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .transparent-button.borders-primary-outline {
    justify-content: center;
    align-items: center;
  }

  .inline-block {
    display: block;
  }

  .mask {
    width: 95%;
  }

  .cta-image._1, .cta-image._2 {
    width: 4rem;
    height: 4rem;
  }

  .cta-image._3 {
    width: 6rem;
  }

  .cta-image._6 {
    width: 8rem;
  }

  .cta-image._7 {
    width: 5rem;
    right: 3rem;
  }

  .cta-image._8 {
    width: 5rem;
    left: 3rem;
  }

  .cta-image._9 {
    width: 6rem;
    left: -2rem;
  }

  .cta-image._10 {
    width: 6rem;
    right: -2rem;
  }

  .cta-right-column {
    height: 14rem;
  }

  .form {
    flex-flow: column;
  }

  .form-block, .submit-button {
    width: 100%;
  }

  .social-icon-wrapper {
    justify-content: center;
    align-items: center;
  }

  .footer-inner-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .padding-1-5.flex-footer {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .flex-block {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .layout-left-block {
    text-align: left;
  }

  .modal-contant {
    overflow: auto;
  }

  .author-block {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }

  .four-columns {
    grid-template-columns: 1fr;
  }

  .relative-wrapper {
    min-height: 16.7rem;
  }

  .home-image {
    width: 11rem;
  }

  .vector-circle-green, .vector-circle-light-green, .vector-circle-dark-green, .vector-circle-dark-blue, .vector-circle-blue, .vector-circle-tertiary-main, .vector-circle-white, .vector-circle-tertiary-dark {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .relative-wrapper-cta {
    min-height: 20rem;
  }

  .color-background-grid {
    grid-template-columns: 1fr;
  }

  .vector-circle-light-blue {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .author-flex-block {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-flow: column;
  }

  .job-sub-heading {
    font-size: 2rem;
  }
}

#w-node-_3d319873-1f90-8940-01d2-58597d43d44a-b2e2c4e4, #w-node-bbbf260c-0934-5723-5e1e-b48dae873569-b2e2c4e4, #w-node-_8e160cdc-68e6-0740-e410-82a8ee32304b-b2e2c4e4, #w-node-_3e9fbdb3-c9f4-efdf-963d-f02f2091b7d1-b2e2c4e4, #w-node-_60b6d156-8c1c-bf4c-6500-928930897cd4-b2e2c4e4, #w-node-_3f103668-710b-686a-7487-c9416f3d029e-b2e2c4e4, #w-node-a1918ff0-b12f-fec1-cb5d-9a2004dd691f-b2e2c4e4, #w-node-e2c47e18-0a5e-7afd-17e7-fb505b116f2f-5b116f26 {
  align-self: center;
}

#w-node-_05310b50-ff72-0901-243e-61edbc52d9bd-bc52d9b8 {
  justify-self: center;
}

#w-node-e15e3533-d661-cc44-e68c-7764e4c7455f-b2e2c50e, #w-node-_498679bb-8ee0-db18-4003-f517142cdc9c-b2e2c50e, #w-node-_00da7e21-b833-9527-3d91-6045ede210ea-b2e2c50e, #w-node-_4ac5ca39-f6c2-7855-ca31-53732ca09f5c-b2e2c50e, #w-node-_4591387b-f262-86c1-6aec-1e60757a6fa7-b2e2c50e, #w-node-b260c414-503e-daf8-8e50-7f0b330364dc-b2e2c50e, #w-node-b260c414-503e-daf8-8e50-7f0b330364ee-b2e2c50e, #w-node-_5c3cb172-4de4-841c-7718-80b2883e591d-b2e2c52c {
  align-self: center;
}

#w-node-_5f7c44f1-8450-e7b3-6b1a-8283fe3c9c89-dfa24601 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_7517f853-9531-6e23-e081-d97e380719e5-b2e2c54d, #w-node-_4dd18223-6c51-01e7-fbe9-c4394bf20723-b2e2c54d, #w-node-_97426866-d19f-be51-821a-7287f57b90ee-b2e2c54d, #w-node-f4a7ab9a-2b5c-c3f6-e28c-6b80f185ca72-b2e2c54d, #w-node-ec1ba3fa-74b3-1e73-2c09-896f5c786f18-b2e2c54d, #w-node-bf8021e2-af03-55e6-5af3-571e6da0a72b-b2e2c56f, #w-node-d0715afc-4153-dcd2-bf0e-228b38e2ee3c-b2e2c56f, #w-node-_4a59313d-1569-7e14-0736-2843d3695f2c-b2e2c571, #w-node-b28d3338-5024-bea7-68de-50ecbc5544a9-b2e2c589 {
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-_77b740a3-10c5-6447-d241-7f057a892594-b2e2c4e4, #w-node-_3d319873-1f90-8940-01d2-58597d43d459-b2e2c4e4, #w-node-_0432e8e0-45db-797d-9ca8-c202b135662c-b2e2c4e4, #w-node-_8e160cdc-68e6-0740-e410-82a8ee323059-b2e2c4e4 {
    order: -9999;
  }

  #w-node-_477ade9a-7b06-5920-2e51-50c49337aa58-9337aa45 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-_05310b50-ff72-0901-243e-61edbc52d9bd-bc52d9b8 {
    justify-self: auto;
  }

  #w-node-_05310b50-ff72-0901-243e-61edbc52d9c8-bc52d9b8 {
    justify-self: end;
  }

  #w-node-e15e3533-d661-cc44-e68c-7764e4c7455f-b2e2c50e {
    order: 9999;
  }

  #w-node-bd87b964-f8bf-f05e-fd12-d92995412927-b2e2c50e, #w-node-_409d96a5-113d-6b77-e703-da507d5610e7-b2e2c50e, #w-node-b260c414-503e-daf8-8e50-7f0b330364ee-b2e2c50e, #w-node-afdabe2c-9071-5877-17ab-2e5d175a046d-b2e2c52c, #w-node-_5c3cb172-4de4-841c-7718-80b2883e592c-b2e2c52c {
    order: -9999;
  }

  #w-node-_5f7c44f1-8450-e7b3-6b1a-8283fe3c9c89-dfa24601 {
    justify-self: auto;
  }

  #w-node-_5f7c44f1-8450-e7b3-6b1a-8283fe3c9ca8-dfa24601 {
    justify-self: end;
  }

  #w-node-_3a188828-973c-4596-2e96-98e0181b6de2-b2e2c54d, #w-node-_7517f853-9531-6e23-e081-d97e380719f3-b2e2c54d, #w-node-_6dfc8d24-05a2-bfc9-8baf-4b1ca256abaa-b2e2c54d, #w-node-_97426866-d19f-be51-821a-7287f57b90ed-b2e2c54d, #w-node-_76f34b86-29e1-2bdf-b2e5-8e3c9d766b3c-b2e2c54d, #w-node-ec1ba3fa-74b3-1e73-2c09-896f5c786f24-b2e2c54d, #w-node-d0715afc-4153-dcd2-bf0e-228b38e2ee3c-b2e2c56f, #w-node-_7e376f7a-19c2-88d6-e8b6-77c82f001e12-b2e2c571, #w-node-_4a59313d-1569-7e14-0736-2843d3695f3c-b2e2c571, #w-node-a161361b-6bec-ee9b-566d-4e0346eec74a-b2e2c571 {
    order: -9999;
  }
}


